<div class="assignment_body">
  <div class="ass_panel"><a href="<%= "/school_classes/#{@school_class_id}/question_packages/#{@question_pack_id}/new_index" %> " class="back">返回</a></div>
  <div class="share_question_list">
    <%= render "/share_questions/share_questions_list" %>
  </div>
  
</div>
