<div class="questions_item" stypes="save_lianxian" branch_question_index="" question_type="lianxian">
  <%= form_for :question,:url => { :action => :save_lianxian, :controller => :questions }, :method=>"post" ,:remote=>true do |f|%>
    <div class="q_topic">
      <div class="ligatureQuestions">
        <ul>
          <li class="qt_text"><p></p><input name="left_lianxian" type="text"/></li>
          <li><i></i></li>
          <li class="qt_text"><p></p><input name="right_lianxian" type="text"/></li>
        </ul>
      </div>
    </div>
    <div class="qt_icon">
      <a href="javascript:void(0)" class="save tooltip_html save_chen" onclick="onclick_submit(this)"></a>
      <a href="javascript:void(0)" class="delete tooltip_html delete_chen" style="display:none" data-remote="true" >删除</a>
      <a href="javascript:void(0)" class="tag tooltip_html">标签</a>
    </div>
    <input type="hidden"  name="question_package_id" id="question_package_id" value="<%=  @question_package_id %>"/>
    <input type="hidden" name="question_id" value="<%= @question.id %>"/>
    <input type="hidden" name="content_index" val="0"/>
    <input type="hidden" name="index_new" class="index_new" value="<%= @index_new.to_i + 1 %>"/>
    <input class="submit_sava" type="submit" style="display:none" value="保存"/>
  <% end %>
  <div class="tag_ul">
    <ul>
      <li><p>不定冠词</p><a href="#" class="x">X</a></li>
      <li><p>不定冠词</p><a href="#" class="x">X</a></li>
      <li><p>不定冠词</p><a href="#" class="x">X</a></li>
    </ul>
  </div>
</div>