<div class="rightSide">
  <div class="main">
    <div class="article">
      <div class="book_box clearAfter">
        <div class="steps">
          <%= render "show_branch" %>
        </div>
      </div>
    </div>

  </div>

</div>
