<div class="main" id="new_question_main_div">
  <div class="assignment">

    <!--  单元，课程 -->
    <div class="assignment_head">
      <div class="select_box">
        <div class="rowElem">
          <select name="select1" id="select1" onchange="address_search_episodes(this, 0, 0)">
            <option value="0">请选择单元</option>
            <%@cells.each do |cell|%>
              <option value="<%=cell.id %>" >
                <%=cell.name%>
              </option>
            <%end%>
          </select>
        </div>
        <div class="rowElem" id="select2">
          <select name="select2"  >
            <option value="opt1">请先选择单元</option>
          </select>
        </div>
      </div>
    </div>

    <div class="questionTypes" style="display:none">
      <div class="qType_menu clearAfter">
        <ul>
          <li class="hover"><p><span class="qType_speed" onclick="new_time_limit(0)">十速挑战</span></p>
          </li>
          <li><p><span class="qType_write" onclick="add_l_r_question(0, 0)">听写</span></p>
          </li>
          <li><p><span class="qType_read" onclick="add_l_r_question(1, 0)">朗读</span></p>
          </li>
          <li><p><span class="qType_choose">选择</span></p>
          </li>
          <li><p><span class="qType_ligature">连线</span></p>
          </li>
          <li><p><span class="qType_sort">排序</span></p>
          </li>
          <li><p><span class="qType_gap">完形</span></p>
          </li>
        </ul>

      </div>
    </div>

    <div class="assignment_body" id="question_list" style="display:none" >

    </div>


    <div class="complete_btn_box" style="display:none" >
      <%#=form_for(:question_packages , url:check_before_complete_create_package_school_class_question_package_path(@school_class,@question_pack)) do |f| %>
      <input type="hidden"  name="school_class_id" id="school_class_id" value="0"/>
      <input type="hidden"  name="cell_id" id="cell_id" />
        <input type="hidden"  name="episode_id" id="episode_id" />
      <%#end%>
    </div>
  </div>
  </div>