<div class="user">
            <div class="avater"><img src="/assets/user01.jpg"></div>
            <div class="name">MIA(蔡英)</div>
          </div>
          <div class="grade_con clearAfter">
            <h1>七年级二班英语</h1>
            <ul>
              <li>
                <a href="#" class="x">删除</a>
                <span><img src="/assets/user01.jpg"></span>
                <p>MIA(蔡英)</p>
              </li>
              <li>
                <a href="#" class="x">删除</a>
                <span><img src="/assets/user01.jpg"></span>
                <p>MIA(蔡英)</p>
              </li>
              <li>
                <a href="#" class="x">删除</a>
                <span><img src="/assets/user01.jpg"></span>
                <p>MIA(蔡英)</p>
              </li>
              <li>
                <a href="#" class="x">删除</a>
                <span><img src="/assets/user01.jpg"></span>
                <p>MIA(蔡英)</p>
              </li>
              <li>
                <a href="#" class="x">删除</a>
                <span><img src="/assets/user01.jpg"></span>
                <p>MIA(蔡英)</p>
              </li>
              <li>
                <a href="#" class="x">删除</a>
                <span><img src="/assets/user01.jpg"></span>
                <p>MIA(蔡英)</p>
              </li>
              <li>
                <a href="#" class="x">删除</a>
                <span><img src="/assets/user01.jpg"></span>
                <p>MIA(蔡英)</p>
              </li>
            </ul>
          </div>