    <div class="rightSide">
      <div class="main setPaddingRight">
        <div class="article">
          <div class="ask_area">
            <%=form_for(:microposts,:url=> microposts_path) do |f|%>
            <div class="ask_area_textarea"><textarea name="microposts[content]" cols="" rows="" placeholder="提个问题或是分享一下你的心得吧。"></textarea></div>
            <div class="ask_area_btn"><button class="green_btn">发布</button></div>
            <%end%>
          </div>
        </div>
        <div class="article">
          <div class="question_area">
            <div class="question_classify"><a href="#" class="hover">全部</a><a href="#">我的</a></div>
            <div id="reply_area">
              <%=render 'questarea_box'%>
            </div>
            
           
          </div>
          
        </div>
        <div class="grade_box">
          <%=render 'grade_box'%>
        </div>
      </div>
    </div>
