<div class="main">
  <script language="javascript">
    $(function(){
      $('.select_box').jqTransform();
    });
  </script>
  <div class="controller">
    <div class="controller_head">
      <a href="#" class="addController_btn_a">新建教师</a>
      <div class="search"><button></button><input name="" type="text"/></div>
    </div>
    <div class="controller_body">
      <div class="b_table">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <thead>
            <tr>
              <th>教师名称</th>
              <th>执教班级数</th>
              <th>执教学生数</th>
              <th>账户信息</th>
              <th>重置密码</th>
              <th>过户</th>
              <th>停用</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>王丽丽</td>
              <td>2</td>
              <td>82</td>
              <td>wll2014 / ******</td>
              <td><a href="#" class="reset_a tooltip_html">重置密码</a></td>
              <td><a href="#" class="transfer_a tooltip_html">过户</a></td>
              <td><a href="javascript:void(0);" class="blockUp_a tooltip_html">停用</a></td>
            </tr>
            <tr>
              <td>王丽丽</td>
              <td>2</td>
              <td>82</td>
              <td>wll2014 / ******</td>
              <td><a href="#" class="reset_a tooltip_html">重置密码</a></td>
              <td><a href="#" class="transfer_a tooltip_html">过户</a></td>
              <td><a href="javascript:void(0);" class="blockUp_a_ed tooltip_html">启用</a></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="tab">
  <a href="javascript:void(0);" class="close">close</a>
  <div class="tab_head">新建管理员</div>
  <div class="tab_warning">请输入教师相关信息</div>
  <div class="tab_body clearAfter">
    <div class="form_list">
      <ul>
        <li><label>教师名称：</label><input name="" type="text"/></li>
        <li><label>教师邮箱：</label><input name="" type="text"/></li>
      </ul>
    </div>
  </div>
  <div class="tab_btn"><button type="submit">确定</button></div>
</div>

<div class="tab">
  <a href="javascript:void(0);" class="close">close</a>
  <div class="tab_head">创建成功</div>
  <div class="tab_warning">老师账户信息已经发送到邮箱</div>

  <div class="tab_btn"><button type="submit">确定</button></div>
</div>

<div class="tab">
  <a href="javascript:void(0);" class="close">close</a>
  <div class="tab_head">重设密码</div>
  <div class="tab_warning">重新为教师登录设置密码</div>
  <div class="tab_body clearAfter">
    <div class="form_list">
      <ul>
        <li><label>新密码：</label><input name="" type="text"/></li>
        <li><label>确认密码：</label><input name="" type="text"/></li>
      </ul>
    </div>
  </div>
  <div class="tab_btn"><button type="submit">确定</button></div>
</div>

<div class="tab">
  <a href="javascript:void(0);" class="close">close</a>
  <div class="tab_head">班级过户</div>
  <div class="tab_warning">选择需要调整的班级和老师</div>
  <div class="tab_body clearAfter">
    <div class="form_list">
      <ul>
        <li><label>被转班级：</label>
          <div class="select_box">
            <div class="rowElem selectPosition">
              <select name="select1" >
                <option value="opt1">选择题库</option>
                <option value="opt2">Option 2</option>
                <option value="opt3">Option 3</option>
                <option value="opt3">Option 3</option>
                <option value="opt3">Option 3</option>
                <option value="opt3">Option 3</option>
              </select>
            </div>
          </div>
        </li>
        <li><label>接受教师：</label>
          <div class="select_box">
            <div class="rowElem">
              <select name="select2" >
                <option value="opt1">选择题库</option>
                <option value="opt2">Option 2</option>
                <option value="opt3">Option 3</option>
                <option value="opt3">Option 3</option>
                <option value="opt3">Option 3</option>
                <option value="opt3">Option 3</option>
              </select>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="tab_btn"><button type="submit">确定</button></div>
</div>

<div class="tab">
  <a href="javascript:void(0);" class="close">close</a>
  <div class="tab_head">停用教师</div>
  <div class="tab_warning">确认停用该教师吗</div>

  <div class="tab_btn"><button type="submit">确定</button></div>
</div>
