<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>系统管理员,您好！</h3>
    <p>
      <%= @school_name %>学校的<%= @type_name %>-<%= @sender_name %>向您申请<%= @number %>个学生配额!<br/>
    </p>
  </body>
</html>