<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3><%= @email %></h3>
    <p>
      您好<br/>
      您的密码已经被重置！   新密码是：<%=@pwd %><br/>
      点击连接 <a href="<%= @url %>"><%= @url %></a> 重新登录到超级作业本
    </p>
    <p>感谢您加入超级作业本，祝生活愉快!</p>
  </body>
</html>