<%= form_tag({:action => :set_password} ,:remote => true) do %>
<a href="javascript:void(0);" class="close">close</a>
<div class="tab_head">重设密码</div>
<div class="tab_warning">重新为学校管理员设置密码</div>
<div class="tab_body clearAfter">
  <div class="form_list">
      <ul>
          <li><label>新密码：</label><input name="password" class="password" type="password"></li>
            <li><label>确认密码：</label><input class="confirm_password"  type="password"></li>
        </ul>
    </div>
</div>
<input type="hidden" value="<%= @teacher_id %>" name="teacher_id" >
<div class="tab_btn"><button type="button" onclick="check_password(this)" >确定</button></div>
<% end %>