<a href="javascript:void(0);" class="close">close</a>
<div class="tab_head">修改管辖</div>
<div class="tab_warning">点击下拉菜单重新选择管理题库</div>
<div class="tab_body clearAfter">
  <div class="form_list">
      <ul>
            <li><label>管理题库：</label>
              <div class="select_box">
                    <div class="rowElem">
                        <select name="select1" >
                            <option value="opt1">选择题库</option>
                            <option value="opt2">Option 2</option>
                            <option value="opt3">Option 3</option>
                            <option value="opt3">Option 3</option>
                            <option value="opt3">Option 3</option>
                            <option value="opt3">Option 3</option>
                        </select>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="tab_btn"><button type="submit">确定</button></div>
