<div class="head clearAfter">
  <div class="userInfo">
    <ul>
      <li class="userName"><a href="javascript:void(0)"><%= current_user.name %></a></li>
    </ul>
  </div>
  <div class="logo">超级作业本</div>

  <div class="nav">
    <ul>
      <li><a href="/question_admin/question_manages/new" class="<%= is_hover("question_manages") %>">创建题目</a></li>
      <li><a href="/question_admin/exam_manages" class="<%= is_hover("exam_manages") %>">我的题库</a></li>
      <li><a href="/question_admin/share_question_packages/new" class="<%= is_hover("share_question_packages") %>">快捷发布</a></li>
    </ul>
  </div>
</div>