<% count = 1 %>
<% question[:branch_questions].each do |bq| %>
  <%  next if @wrong_ids && !@wrong_ids.include?(bq[:id])%>
  <div class='q_topic'>
    <% bq.content.split(";||;").each_with_index do |br_content,index| %>
      <div class="ligatureQuestions">
        <ul>
          <li><p><%= br_content.split("<=>")[0] %></p></li>
          <li><i></i></li>
          <li><p><%= br_content.split("<=>")[1] %></p></li>
        </ul>
      </div>
    <% end if bq.content && bq.content.split(";||;") %>
  </div>
<% end %>
