  <div class="sb_item_list">
    <div class="item_name">
      <div class="q_speed"></div>
      <h2>十速挑战</h2>
      <p>平均正确率：68% </p>
      <p>平均用时：13.11秒</p>
    </div>
    <div class="item_content">
      <ul>
        <li class="color100"><span>1</span><a href="javascript:void(0);" class="tooltip_title" title="点击查看">标签</a>100%</li>
        <li class="color90"><span>2</span><a href="javascript:void(0);" class="tooltip_title" title="点击查看">标签</a>100%</li>
        <li class="color80"><span>3</span><a href="javascript:void(0);" class="tooltip_title" title="点击查看">标签</a>100%</li>
        <li class="color70"><span>4</span><a href="javascript:void(0);" class="tooltip_title" title="点击查看">标签</a>100%</li>
        <li class="color60"><span>5</span><a href="javascript:void(0);" class="tooltip_title" title="点击查看">标签</a>100%</li>
        <li class="color50"><span>6</span><a href="javascript:void(0);" class="tooltip_title" title="点击查看">标签</a>100%</li>
        <li class="color40"><span>7</span><a href="javascript:void(0);" class="tooltip_title" title="点击查看">标签</a>100%</li>
        <li class="color30"><span>8</span><a href="javascript:void(0);" class="tooltip_title" title="点击查看">标签</a>100%</li>
        <li class="color20"><span>9</span><a href="javascript:void(0);" class="tooltip_title" title="点击查看">标签</a>100%</li>
        <li class="color10"><span>10</span><a href="javascript:void(0);" class="tooltip_title" title="点击查看">标签</a>100%</li>
      </ul>
    </div>
  </div>

  <div class="sb_item_list">
    <div class="item_name">
      <div class="q_choose"></div>
      <h2>选择</h2>
      <p>平均正确率：68% </p>
      <p>平均用时：13.11秒</p>
    </div>
    <div class="item_content">
      <ul>
        <li class="color100"><span>1</span><a href="javascript:void(0);" class="tooltip_title" title="点击查看">标签</a>100%</li>
        <li class="color90"><span>2</span><a href="javascript:void(0);" class="tooltip_title" title="点击查看">标签</a>100%</li>
      </ul>
    </div>
  </div>

  <div class="sb_item_list">
    <div class="item_name">
      <div class="q_read"></div>
      <h2>朗读</h2>
      <p>平均正确率：68% </p>
      <p>平均用时：13.11秒</p>
    </div>
    <div class="item_content">
      <ul>
        <li class="color100"><span>1</span><a href="javascript:void(0);" class="tooltip_title" title="点击查看">标签</a>100%</li>
        <li class="color90"><span>2</span><a href="javascript:void(0);" class="tooltip_title" title="点击查看">标签</a>100%</li>
        <li class="color80"><span>3</span><a href="javascript:void(0);" class="tooltip_title" title="点击查看">标签</a>100%</li>
        <li class="color70"><span>4</span><a href="javascript:void(0);" class="tooltip_title" title="点击查看">标签</a>100%</li>
        <li class="color60"><span>5</span><a href="javascript:void(0);" class="tooltip_title" title="点击查看">标签</a>100%</li>
      </ul>
    </div>
  </div>

  <div class="sb_item_list">
    <div class="item_name">
      <div class="q_listen"></div>
      <h2>听力</h2>
      <p>平均正确率：68% </p>
      <p>平均用时：13.11秒</p>
    </div>
    <div class="item_content">
      <ul>
        <li class="color100"><span>1</span><a href="javascript:void(0);" class="tooltip_title" title="点击查看">标签</a>100%</li>
        <li class="color90"><span>2</span><a href="javascript:void(0);" class="tooltip_title" title="点击查看">标签</a>100%</li>
        <li class="color80"><span>3</span><a href="javascript:void(0);" class="tooltip_title" title="点击查看">标签</a>100%</li>
        <li class="color70"><span>4</span><a href="javascript:void(0);" class="tooltip_title" title="点击查看">标签</a>100%</li>
      </ul>
    </div>
  </div>

  <div class="sb_item_list">
    <div class="item_name">
      <div class="q_ligature"></div>
      <h2>连线</h2>
      <p>平均正确率：68% </p>
      <p>平均用时：13.11秒</p>
    </div>
    <div class="item_content">
      <ul>
        <li class="color100"><span>1</span><a href="javascript:void(0);" class="tooltip_title" title="点击查看">标签</a>100%</li>
        <li class="color90"><span>2</span><a href="javascript:void(0);" class="tooltip_title" title="点击查看">标签</a>100%</li>
      </ul>
    </div>
  </div>
</div>

<div class="s_tab">
<a href="javascript:void(0);" class="close">close</a>
<div class="tab_head">标签</div>
<p class="tab_text">
  元音O的用法元音O的用法元音O的用法元音O的用法元音O的用法元音O的用法元音O的用法
</p>
</div>