<% question[:branch_questions].each do |bq| %>
      <div class='q_topic'>
        <div class='speedQuestions'>
          <ul>
            <li>
              <a href="javascript:void(0)" class="<%= bq[:answer]== "true" ? "true" : "false" %>">T</a>
            </li>
            <li>
               <p><%= bq[:content] %></p>
            </li>
            <li>
              <a href="javascript:void(0)" class='<%= bq[:answer]== "true" ? "false" : "true" %>'>F</a>
            </li>
          </ul>
        </div>
      </div>
<% end %>