<% count = 1 %>
<% question[:branch_questions].each do |bq| %>
  <%if @wrong_ids.include?(bq[:id])%>
<%@wring_answer[bq[:id]]#这个是对应的错误答案%>
    <div class='q_topic'>
      <div class='speedQuestions'>
        <ul>
          <li><p><%= bq[:content] %></p></li>
          <% if bq[:resource_url].present? %>
            <li>
              <a href="javascript:void(0)" class="voice tooltip_title" onclick="playAudio(this)" title="阅读">
                <audio controls="controls" class="bq_audio" style="display:none;">
                  <source src="<%= bq[:resource_url] %>" type="audio/mpeg" />
                  Your browser does not support the audio element.
                </audio>
              </a>
            </li>
          <% else %>
            <li></li>
          <% end %>
        </ul>
      </div>
    </div>
<%end%>
  <% count += 1 %>
<% end %>