<% count = 1 %>
<% question[:branch_questions].each do |bq| %>
    <fieldset>
      <legend><%= count %></count></legend>
      <div class='q_topic'>
        <div class='speedQuestions'>
          <ul>
            <li><p><%= bq[:content] %></p></li>
            <% if bq[:resource_url].present? %>
                 <li><a href='#' class='voice tooltip_title' title='音频'></a></li>
            <% else %>
                 <li></li>
            <% end %>
          </ul>
        </div>
      </div>
    </fieldset>
    <% count += 1 %>
<% end %>