<% count = 1 %>
<fieldset>
<legend><%= count %></count></legend>
<% question[:branch_questions].each do |bq| %>
      <div class='q_topic'>
        <div class='ligatureQuestions'>
          <ul>
            <li class='qt_input'><p><%= bq[:options].to_s.split(/\;\|\|\;/)[0] %></p></li>
            <li><i></i></li>
            <li class='qt_input'><p><%= bq[:options].to_s.split(/\;\|\|\;/)[1] %></p></li>
          </ul>
        </div>
      </div>
    <% count += 1 %>
<% end %>
</fieldset>