<% count = 1 %>
<% question[:branch_questions].each do |bq| %>
  <%  next if @wrong_ids && !@wrong_ids.include?(bq[:id])%>
    <%@wring_answer[bq[:id]]#这个是对应的错误答案%>
    <div class='q_topic'>
      <div class="sortQuestions qt_input">
        <div class="qt_input">
          <p><%= bq[:content] %></p>
        </div>
      </div>
    </div>
    <% count += 1 %>
<% end %>
