<% count = 1 %>
<% question[:branch_questions].each do |bq| %>
  <%if @wrong_ids.include?(bq[:id])%>
    <div class='q_topic'>
      <div class='ligatureQuestions'>
        <%@wring_answer[bq[:id]]#这个是对应的错误答案%>
        <ul>
          <li class='qt_input'><p><%= bq[:options].to_s.split(/\;\|\|\;/)[0] %></p></li>
          <li><i></i></li>
          <li class='qt_input'><p><%= bq[:options].to_s.split(/\;\|\|\;/)[1] %></p></li>
        </ul>
      </div>
    </div>
  <%end%>
  <% count += 1 %>
<% end %>