<% count = 1 %>
<fieldset>
  <legend><%= count %></count></legend>
  <% question[:branch_questions].each do |bq| %>
      <div class='q_topic'>
        <div class="sortQuestions qt_input">
          <div class="qt_input"><input name="" type="text" value="<%= bq[:content] %>"></div>
        </div>
      </div>
      <% count += 1 %>
  <% end %>
</fieldset>