<%= form_tag({:action => :apply_quota_consumptions} ,:remote => true) do %>
<a href="javascript:void(0);" class="close">close</a>
<div class="tab_head">购买配额</div>
<div class="tab_warning">请输入要购买的配额数量</div>
<div class="tab_body clearAfter">
  <div class="form_list">
      <ul>
            <li><a href="javascript:void(0)"  onclick="reduce_a(this)" class="reduce_a tooltip_html">减少</a>
            <input name="number" type="text" value="1" class="number">
            <a href="javascript:void(0)" onclick="add_a(this)" class="add_a tooltip_html">增加</a>
            </li>
        </ul>
    </div>
</div>
<input name="teacher_id" type="hidden" value="<%= @teacher_id %>" class="teacher_id">
<div class="tab_btn"><button type="button" onclick="check_apply_quota_consumptions(this)">确定</button></div>
<% end %>
