<a href="javascript:void(0);" class="close">close</a>
<div class="tab_head">购买配额</div>
<div class="tab_warning">请输入要购买的配额数量</div>
<div class="tab_body clearAfter">
  <div class="form_list">
      <ul>
            <li><a href="#" class="reduce_a tooltip_html">减少</a>
            <input name="" type="text">
            <a href="#" class="add_a tooltip_html">增加</a>
            </li>
        </ul>
    </div>
</div>
<div class="tab_btn"><button type="button" onclick="">确定</button></div>