<div class="main">
  <div class="controller">
      <div class="controller_head">
          <a href="javascript:void(0)" class="addController_btn_a" onclick="show_quota_consumptions_panel(<%= @teacher.id %>)">购买配额</a>
          <div class="quotaLoading">
              <ul>
                  <li class="quotaLoading_bg"><p style="width: 50%;"></p></li>
                    <li>80/100</li>
                </ul>
            </div>
        </div>
        <div class="controller_body">
            <div class="b_table">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                 <thead>
                  <tr>
                    <th>学生姓名</th>
                    <th>学号</th>
                    <th>所属班级</th>
                    <th>加入时间</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>王丽丽</td>
                    <td>202458</td>
                    <td>2</td>
                    <td>2014-02-15</td>
                  </tr>
                  <tr>
                    <td>王丽丽</td>
                    <td>202458</td>
                    <td>2</td>
                    <td>2014-02-15</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="tab" style="display:none;" id="quota_consumptions">
</div>