<div class="tab">
  <%= form_tag({:controller => :welcome, :action => :create_first_class}, :remote => true) do %>
  <span class="close">关闭</span>
  <div class="tab_con">
    <div class="tab_ul">
      <ul>
        <li>
          <p>选择教材</p>
          <select id="teaching_material_id" name="teaching_material_id]">
            <option value="0" selected="selected">请选择</option>
            <% @teachering_materials.each do |m| %>
                <option value="<%= m.id %>"><%= m.name %></option>
            <% end %>
          </select>
        </li>
        <li>
          <p>输入班级名称</p>
          <input id="class_name" name="class_name" type="text">
        </li>
        <li>
          <p>选择结束时间</p>
          <input id="end_time" name="end_time" type="text">
        </li>
      </ul>
    </div>
        <input name="teacher_id" value="<%= @teacher.id %>" style="display: none;" type="input">

  </div>
  <div class="tab_btn"><button class="green_btn" type="button" onclick="check_class_info();">确认</button></div>
  <input id="submit_class_info"  value="确认" type="submit">
  <% end %>
</div>