<script type="text/javascript">
  $(function(){
    $(".showConNum").on("click","li",function(){
      if(!$(this).hasClass("on")){
        $(".showConNum li").removeClass("on");
        $(this).addClass("on");
        var i = $(".showConNum li").index($(this));
        $(".showCon ul").animate({top : -370*i + "px"},800);
      }
    });

    $(".formBox").on("click","li",function(){
      if(!$(this).hasClass("hover")){
        $(".formBox li").removeClass("hover");
        $(this).addClass("hover");
        $(".form").hide();
        $("." + $(this).attr("name")).show();
      }
    });
  })
</script>

<div class="bg1"></div>
<div class="bg2"></div>
<div class="center">
  <div class="showBox">
    <div class="showCon">
      <ul>
        <li class="showCon_1"></li>
        <li class="showCon_2"></li>
        <li class="showCon_3"></li>
      </ul>
    </div>
    <ul class="showConNum">
      <li class="on"></li>
      <li></li>
      <li></li>
    </ul>
  </div>

  <div class="infoBox">
    <a class="download">DOWNLOAD V1.0</a>
    <div class="formBox">
      <ul>
        <li class="hover" name="loginForm">登录</li>
        <li name="regForm">注册</li>
      </ul>
      <div class="form loginForm" style="display: block;">
        <%= form_tag({:controller => :welcome, :action => :login}, :remote => true) do %>
          <p><input id="email" name="email" type="text" placeholder="邮箱" class="username" /></p>
          <p> <input id="password" name="password" type="password" placeholder="密码" class="password1" /> </p>
          <p><button type="button" onclick="check_value();">登录</button></p>
          <button id="login_submit_button" style="display: none;" type="submit">提交</button>
        <% end %>
      </div>
      <div class="form regForm">
        <%= form_tag({:controller => :welcome, :action => :regist}, :multipart => true, :remote => true) do %>
          <p><input id="r_name"  name="name" type="text" placeholder="姓名" class="username"/></p>
          <p><input id="r_email" name="email" type="text" placeholder="邮箱" class="eMail"/></p>
          <p><input id="r_password"  name="password" type="password" placeholder="密码" class="password1"/></p>
          <p><input id="r_confirm_password" name="confirm_password" type="password" placeholder="确认密码" class="password2"/></p>
          <li class="hint">密码长度在6-20之间</li>
          <p><button onclick="check_regist_info()" type="button">确认</button></p>
          <button id="register_submit_button" style="display: none;" type="submit">提交</button>
        <% end %>
      </div>
    </div>
  </div>
</div>