<%= form_tag({:controller => "api/students", :action => "record_person_info"}) do %>
<div>
  open_id
  <input type="text" value="" name="open_id">
</div>  
<div>
  name
<input type="text" value="" name="name">
</div>
<div>
  nickname
<input type="text" value="" name="nickname">
</div>
<div>
  key
<input type="text" value="" name="key">
</div>
<div>
  verification_code
<input type="text" value="" name="verification_code">
</div>
<div>
  avatar
<input type="file" value="" name="avatar">
</div>
<div class="tab_btn"><button type="submit"  class="submit_apply_quota_consumptions" >确定</button></div>
<% end %>

<script>
$(".submit_apply_quota_consumptions").onclick(function(){
  $(".submit_apply_quota_consumptions").attr("disabled","true");
})
</script>