<div class="assignment_body_list" >
  <div class="ab_list_title" onclick="show_the_paixu(this,<%=@question.question_package_id%>,<%=@school_class.id%>)" >
    <input type="hidden" class="questions_id" value="<%=@question.id%>" />
    <h1>未命名</h1>
    <p>排序 / 李芳 / 2014-02-12 / 参考时间：15秒</p>
    <ul class="ab_func">
      <li><a href="#" class="clock_icon tooltip_html">设定时间</a></li>
      <li><a href="#" class="save_icon tooltip_html">保存</a></li>
      <li><a href="#" class="share_icon tooltip_html">分享</a></li>
      <li><a href="#" class="delete_icon tooltip_html">删除</a></li>
    </ul>
  </div>
  <div class="ab_list_box" style="display: none;">
    <%=render 'wanxin/paixu_item'%>
  </div>
</div>