<div class="assignment_body_list">
  <div class="ab_list_title">
    <h1>未命名</h1>
    <p>排序 / 李芳 / 2014-02-12 / 参考时间：15秒</p>
    <ul class="ab_func">
      <li><a href="#" class="clock_icon tooltip_html">设定时间</a></li>
      <li><a href="#" class="save_icon tooltip_html">保存</a></li>
      <li><a href="#" class="share_icon tooltip_html">分享</a></li>
      <li><a href="#" class="delete_icon tooltip_html">删除</a></li>
    </ul>
  </div>
  <div class="ab_list_box" style="display: none;">
    <div class="ab_article">
      
      <div class="questions_item">
        <div class="q_topic">

          <div class="sortQuestions qt_input">
            <div class="qt_input"><input name="" type="text"></div>
          </div>
        </div>
        <div class="qt_icon">
          <a href="#" class="delete tooltip_html">删除</a>
          <a href="#" class="tag tooltip_html">标签</a>
        </div>
        <div class="tag_ul">
          <ul>
            <li><p>不定冠词</p><a href="#" class="x">X</a></li>
            <li><p>不定冠词</p><a href="#" class="x">X</a></li>
            <li><p>不定冠词</p><a href="#" class="x">X</a></li>
          </ul>
        </div>
      </div>

      <div class="questions_item">
        <div class="q_topic">

          <div class="sortQuestions">
            <div><p>What’s this in the picture?</p></div>
          </div>
        </div>
        <div class="qt_icon">
          <a href="#" class="delete tooltip_html">删除</a>
          <a href="#" class="tag tooltip_html">标签</a>
        </div>
        <div class="tag_ul">
          <ul>
            <li><p>不定冠词</p><a href="#" class="x">X</a></li>
            <li><p>不定冠词</p><a href="#" class="x">X</a></li>
            <li><p>不定冠词</p><a href="#" class="x">X</a></li>
          </ul>
        </div>
      </div>


    </div>
  </div>
</div>