<%= form_tag({:action => :save_branchs} ,:remote => true) do %>
<a href="javascript:void(0);" class="close">close</a>
<div class="tab_head">增加内容</div>
<div class="tab_body clearAfter">
	<div class="tab_add">
    	<ul id="branchs" style="overflow: auto; max-height: 140px;">
			<li>
                <input class="content" name="translation[]" type="text" value>
				<span class="speak" ></span>
            </li>
        </ul>
        <div class="tab_add_btn"><a href="javascript:void(0)" onclick="submit_branch(this)">完成</a></div>
    </div>
    <input type="hidden" value id="branch_index">
    <input type="hidden" value="<%= question_id %>" name="question_id" >
</div>
<% end %>


<script>
    $(function(){
        $("#branchs").on("click", ".speak", function(){
            var li_index = $(this).parents("li").index();
            $("#branch_index").val(li_index);
            var school_class_id = $(".school_class_id").val();
            popup("#flashContent");   
        })

    })   

    function submit_branch(obj)
    {
        var status = true;
        var number = 0;
        var notice = "";
        var item_collections = $("#branchs li");
        if(item_collections.length > 1){
            $(item_collections).each(function(){
                number += 1;
                var listen = $(this).find(".listen");
                var content = $(this).find(".content").val();
                if(listen.length > 0 && content.length <= 0)
                {
                    if(number > 1 && notice.length > 0)
                    {
                        notice += ","
                    } 
                    notice += "" + number + ""; 
                }   
            })
            if(notice.length > 0)
            {
                notice = "第" + notice + "行内容不能为空!";
                tishi(notice);
            }
            else
            {
                $(obj).parents("form").submit();
            }
        }
        else
        {
            tishi("请先录音!");
        }    
    } 

    function remove_voice(obj,audio_url)
    {
        var index = $(obj).parents("li").index();
        var school_class_id = $("#school_class_id").val();
        $.ajax({
            type: "post",
            dataType: "json",
            data:{
                audio_url : audio_url
            },
            url: "/school_classes/"+ school_class_id +"/dictation_practises/delete_audio",
            success: function(data){
                if(data.status == true)
                {

                    tishi("删除成功!");
                    $("#branchs").find("li:eq("+ index +")").remove();
                }
                else
                {
                    tishi("删除失败!")  
                }

            }
        }); 
    }
</script>
   