<%= form_tag({:action => :save_branchs} ,:remote => true) do %>
<a href="javascript:void(0);" class="close">close</a>
<div class="tab_head">增加内容</div>
<div class="tab_body clearAfter">
	<div class="tab_add">
    	<ul id="branchs" style="overflow: auto; max-height: 140px;">
			<li>
                <input class="content" name="transltaion[]" type="text" value="">
				<span class="speak" ></span>
            </li>
        </ul>
        <div class="tab_add_btn"><a href="javascript:void(0)" onclick="submit_branch(this)">完成</a></div>
    </div>
    <input type="text" value id="branch_index">
</div>
<% end %>


<script>
    $(function(){
        $("#branchs").on("click", ".speak", function(){
            var li_index = $(this).parents("li").index();
            alert(li_index);
            $("#branch_index").val(li_index);
            var school_class_id = $(".school_class_id").val();
            // sendToActionScript(school_class_id);
            popup("#flashContent");   
        })

    })    
</script>
   