<%= stylesheet_link_tag    "/assets/dictations/style.css" %>
<%= javascript_include_tag "/assets/dictations/date_picker_homemade.js" %>
<%= javascript_include_tag "/assets/dictations/main.js" %>


<div class="main">
	<div class="assignment">
    	<div class="assignment_head" style="text-align: left; position: relative;">
			<h1>添加新课</h1>
        </div>
		<div class="assignment_body" style=" background: #fff; overflow: hidden;">
       		<div class="cont_box">
				<h2>人教版 语文 一年级下</h2>
				<input type="text">
				<p>示例：第一课或第一单元</p>
			</div>
			<div class="act_box" style="text-align: left;">
				<button class="green_btn">保存并继续</button>
			</div>
		</div>
    </div>
</div>
