<div class="main">
  <div class="assignment">
    <div class="assignment_head">
      <a href="/school_classes/<%= params[:school_class_id] %>/question_packages/new" class="assignment_btn_a">创建作业</a>
      <a href="/school_classes/<%= params[:school_class_id] %>/homeworks/new_publish" class="assignment_btn_a">快捷发布</a>
    </div>
    <div class="assignment_body">
    </div>
  </div>
</div>

