<%= stylesheet_link_tag    "/assets/dictations/style.css" %>
<%= javascript_include_tag "/assets/dictations/date_picker_homemade.js" %>
<%= javascript_include_tag "/assets/dictations/main.js" %>



<div class="assignment">
	<div class="assignment_head" style="text-align: left; position: relative;">
		<h1>预览修改</h1>
    </div>
	<div class="assignment_body" style=" background: #fff; overflow: hidden;">
   		<div class="cont_box">
			<h2>创建一年级下的语文教材</h2>
			<p>
				<input type="text">
				<span class="listen"></span>
				<span class="remove"></span>
			</p>
			<p>
				<input type="text">
				<span class="speak"></span>
			</p>
		</div>
		<div class="act_box" style="text-align: left;">
			<button class="green_btn">完成</button>
		</div>
	</div>
</div>
    

