*{ padding: 0; margin: 0;}
body {
	background: url(/assets/new/bg.jpg) no-repeat center 0 fixed;
	font-family:"微软雅黑", "宋体", Arial;
	font-size: 14px;
	color: #333;
}
img { border: none;}
li { list-style: none;}
a { text-decoration: none; color: #333;}
input,button,select,textarea,img{outline:none}
input { font-family:"微软雅黑"; font-size: 14px;}
button { border: none; cursor: pointer; font-family:"微软雅黑"; font-size: 14px;}
textarea { font-size: 14px; color: #333; font-family:"微软雅黑";}


.clearAfter:after {
	display: block;
	overflow:hidden;
	clear: both;
	height:0;
	visibility:hidden;
	content:".";
}

.wrap { width: 960px; margin: 0 auto;}
.head { height: 130px;}
.logo {
	width: 160px;
	height: 80px;
	overflow: hidden;
	text-indent: -999px;
	background: url(/assets/new/logo.png) no-repeat;
	float: left;
}
.message { margin: 10px 0; background: #fa3333; color: #FFF; padding: 7px 10px; position: relative;}

/*tooltip*/
.tooltip_box { position: absolute; z-index: 20000; }
.tooltip_next {
    background: #FFF;
	border: 1px #666666 solid;
	box-shadow: 2px 2px 0px rgba(0,0,0,0.2);
	border-radius: 0.2em;
	-moz-border-radius: 0.2em;
	-webkit-border-radius: 0.2em;
	line-height: 25px;
	text-align: center;
	padding: 5px 10px;
	color: #333;
	max-width: 300px;
	word-break:break-all;
	word-wrap:break-word;
}

/*tab*/
.mask {
    background: url(/assets/new/black.png) repeat;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	display: none;
}

.tab700 { width: 700px;}
.tab500 { width: 500px;}
.tab, .s_tab {
	background: #f6f6f6;
	border: 1px #dd5c05 solid;
	padding-bottom: 10px;
	z-index: 100;
	display: none;
}
.s_tab { width: 200px; position: absolute;}
.tab { position: fixed; }
.tab_head {
	height: 32px;
	line-height: 32px;
	color: #FFF;
	background: #dd5c05;
	padding-left: 20px;
}
.tab_body { overflow-y: auto;}
.tab_questions { height: 400px;}
.tab_text { line-height: 24px; padding: 5px;}
.close {
	width: 22px;
	height: 22px;
	display: block;
	background: url(/assets/new/close.jpg) no-repeat;
	text-indent: -999px;
	overflow: hidden;
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
}
.tab_warning {
	font-size: 18px;
	width: 350px;
	line-height: 38px;
	margin: 30px auto;
	background: url(/assets/new/th.png) no-repeat 0 0;
	padding-left: 30px;
}

/*切换班级tab*/
.tab_switch { overflow: hidden;}

.tab_switch ul { width: 380px; margin: 0px auto; border-bottom: 1px #dbdcdc solid; overflow: hidden;}
.tab_switch li {
	height: 40px;
	line-height: 40px;
	margin: 20px 0;
	text-align: center;
	position: relative;
}
.tab_switch li a {
	width: 170px;
	height: 40px;
	background: #dd5c05;
	color: #FFF;
	display: inline-block;
}
.tab_switch li span, .tab_switch li i, .tab_switch li em {
	width: 23px;
	height: 23px;
	display: block;
	text-indent: -999px;
	overflow: hidden;
	position: absolute;
	top: 10px;
}
.tab_switch li span { background: url(/assets/new/icon02.png) no-repeat 0px -68px; right: 60px;}
.tab_switch li i { cursor: pointer; background: url(/assets/new/icon02.png) no-repeat 0px -96px; right: 20px;}
.tab_switch li em { cursor: pointer; background: url(/assets/new/icon02.png) no-repeat -27px -68px; right: 60px;}

.tab_switch_btn { text-align: center; padding: 30px 0;}
.tab_switch_btn a {
	width: 170px;
	height: 40px;
	line-height: 40px;
	background: #dd5c05;
	color: #FFF;
	display: inline-block;
}
/*班级分组tab*/
.tab_switch li p, .tab_switch li input {
	width: 170px;
	height: 40px;
	border: 1px #dd5c05 solid;
	color: #dd5c05;
	display: inline-block;
	text-align: center;
}
.tab_grouping { overflow: hidden; padding: 10px;}
.tab_grouping_list { float: left; width: 220px; margin: 0 10px;}
.tab_grouping_list h2 { color: #dd5c05; line-height: 28px; font-size: 14px;}
.tab_grouping_list ul {
	display: block;
	background: #e4e5e4;
	padding: 5px 10px;
	height: 300px;
	overflow: auto;
}
.tab_grouping_list ul.group_pr li a {
	padding-left: 40px;
	cursor: pointer;
	background: url(/assets/new/icon02.png) no-repeat 0 -131px;
	display: block;
}
.tab_grouping_list ul.group_pr li a:hover { background-color: #f0f0f0;}
.tab_grouping_list li { height: 30px; line-height: 30px; margin: 10px 0; clear: both;}
.tab_grouping_list li img { width: 30px; float: left; margin-right: 10px;}




/*用户信息*/
.userInfo { height: 38px; font-size: 12px; overflow: hidden;}
.userInfo ul { float: right;}
.userInfo li { float: left; height: 38px; margin: 0 10px;}
.userInfo li.switchoverClass a {
	width: 22px;
	height: 13px;
	display: inline-block;
	text-indent: -999px;
	overflow: hidden;
	background: url(/assets/new/icon01.png) no-repeat 0 0;
	margin-top: 12px;
}
.userInfo li.userName {
	padding-left: 18px;
	height: 16px;
	line-height: 16px;
	display: inline-block;
	background: url(/assets/new/icon01.png) no-repeat 0 -16px;
	margin-top: 10px;
}
.userInfo li.email a {
	padding-left: 18px;
	height: 12px;
	line-height: 12px;
	display: inline-block;
	background: url(/assets/new/icon01.png) no-repeat 0 -34px;
	margin-top: 12px;
}

/*菜单*/
.nav {
	background: #FFF;
	height: 58px;
	line-height: 58px;
	font-size: 16px;
	float: right;
	margin-top: 11px;
}
.nav li { float: left; margin: 0 55px;}
.nav li a {}
.nav li a:hover, .nav li a.hover { color: #36c77b;}

/*统计*/
.statistics { padding-top: 30px;}
.statistics_head { height: 90px; background: #48d47e; text-align: center; position: relative;}
.statistics_body { background: #FFF;}

.sh_choose { padding: 0 10px; font-size: 0; position: absolute; top: 27px; left: 15px;}
.sh_choose a {
	width: 80px;
	height: 32px;
	line-height: 32px;
	display: inline-block;
	text-align: center;
	background: #48d47e;
	border: 2px #5dee95 solid;
	border-radius: 5px;
	color: #FFF;
	font-size: 16px;
	margin: 0 5px;
}
.sh_choose a:hover, .sh_choose a.hover { background: #5dee95; }

.sh_date { display: inline-block; color: #FFF; font-size: 16px; margin-top: 34px;}
.sh_date .prev, .sh_date .next {
	width: 14px;
	height: 20px;
	display: inline-block;
	float: left;
	cursor: pointer;
	text-indent: -999px;
	overflow: hidden;
}
.sh_date .prev { background: url(/assets/new/icon01.png) no-repeat 0 -52px;}
.sh_date .next { background: url(/assets/new/icon01.png) no-repeat 0 -76px;}
.sh_date p { float: left; margin: 0 40px;}

.sh_dateIcon { position: absolute; top: 27px; right: 30px;}
.sh_dateIcon a {
	width: 24px;
	height: 24px;
	display: block;
	text-indent: -999px;
	overflow: hidden;
	background: url(/assets/new/icon01.png) no-repeat 0 -100px;
}

.sb_classify { overflow: hidden;}
.sb_classify li { width: 479px; float: left;}
.sb_classify h1 { font-size: 24px; color: #FFF; padding: 10px;}
.sb_classify .complete { background: #1294c4; border-right: 1px #FFFFFF solid;}
.sb_classify .complete h1 { text-align: left;}
.sb_classify .correct { background: #38c9c8; border-left: 1px #FFFFFF solid;}
.sb_classify .correct h1 { text-align: right;}

.sb_classify .statistics_img { width: 200px; height: 200px; margin: 20px auto;}

.sc_nav { text-align: center;}
.sc_nav a {
	width: 34px;
	height: 18px;
	margin: 0 50px;
	padding-bottom: 24px;
	display: inline-block;
	font-size: 16px;
	color: #FFF;
	position: relative;
}
.sc_nav a.hover, .sc_nav a:hover {
	background: url(/assets/new/icon01.png) no-repeat 0 -156px;
}

/*body table*/
.b_table { overflow: hidden;}
.b_table em { font-size: 12px; display: block;}

.b_table table { background: #fff;}
.tbg { background: #f6f6f6;}
.b_table table td, .b_table table th {
	padding: 10px 0;
	height: 50px;
	font-weight:inherit;
	font-size: 16px;
	text-align: center;
}
.b_table table td { color: #999;}

.b_table .th_sort {
	padding-right: 25px;
	height: 22px;
	background: url(/assets/new/sort.png) no-repeat right center;
}
.b_table .td_user { color: #666; line-height: 50px; font-size: 12px; text-align: left; padding-left: 30px;}
.b_table .td_user img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	float: left;
	margin-right: 10px;
}
.b_table .td_ratio { position: relative; width: 80px; display: inline-block;}
.b_table .td_seeQuestion {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 12px;
	height: 12px;
	display: block;
	overflow: hidden;
	text-indent: -999px;
	background: url(/assets/new/icon02.png) no-repeat;
}

/*正确率-题型*/
.sb_item {}
.sb_item_list { margin-top: 10px; overflow: hidden; background: #eeeeee; padding: 10px 0; height: 200px;}
.item_name { width: 200px; float: left; text-align: center; padding: 20px 0; color:#828282; }
.item_content { overflow: hidden;}

.q_speed, .q_choose, .q_read, .q_listen, .q_ligature {
	width: 60px;
	height: 52px;
	display: inline-block;
}
.q_speed { background: url(/assets/new/icon03.png) no-repeat 0 0; }
.q_choose { background: url(/assets/new/icon03.png) no-repeat 0 -53px; }
.q_read { background: url(/assets/new/icon03.png) no-repeat 0 -105px; }
.q_listen { background: url(/assets/new/icon03.png) no-repeat 0 -154px;}
.q_ligature { background: url(/assets/new/icon03.png) no-repeat 0 -212px;}

.item_name h2 { font-size: 16px; line-height: 32px;}

.item_content {}
.item_content li {
	width: 100px;
	height: 80px;
	text-align: center;
	line-height: 80px;
	position: relative;
	color: #FFF;
	font-size: 18px;
	float: left;
	margin: 5px 10px;
}
.item_content li span, .item_content li a {
	position: absolute;
	top: 0px;
	display: block;
	width: 22px;
	height: 22px;
	line-height: 22px;
}
.item_content li span {left: 0px; }
.item_content li a {
	right: 0px;
	text-indent: -999px;
	overflow: hidden;
	background: url(/assets/new/icon02.png) no-repeat 0 -14px;
}

.color100 { background: #1dcb60;}
.color90 { background: #6bcb1d;}
.color80 { background: #a4cb1d;}
.color70 { background: #cbb41d;}
.color60 { background: #e09012;}
.color50 { background: #ed6b24;}
.color40 { background: #ed3224;}
.color30 { background: #ed3224;}
.color20 { background: #ed3224;}
.color10 { background: #ed3224;}

/*学员*/
.student {padding-top:30px;}
.student_head { background: #48d47e; position: relative; padding: 10px; color: #FFF;}
.student_body { background: #FFF;}

.student_head h1 { font-size: 20px; line-height: 40px; margin-bottom: 15px;}
.student_head li { line-height: 24px; font-size: 16px;}
.student_head li span { display: inline-block; width: 80px; text-align: right;}
.student_btn_a {
	background: #36c77b;
	color: #FFF;
	padding: 10px 40px;
	position: absolute;
	right: 10px;
	bottom: 10px;
}

.student_table table { background: #FFF;}
.student_table table td { padding: 20px; text-align: center;}

.td_student_img { display: inline-block; width: 90px; height: 90px; position: relative;}
.td_student_img .td_delete_a {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 20px;
	height: 20px;
	background: url(/assets/new/icon02.png) no-repeat 0 -40px;
	text-indent: -999px;
	overflow: hidden;
}
.td_student_text {
	overflow: hidden;
	padding-left: 10px;
	line-height: 24px;
	display: inline-block;
	text-align: left;
}
.td_student_text li span { width: 80px; display: inline-block; text-align: right;}
.student_text_a { background: #36c77b; color: #FFF; padding: 2px 5px; margin: 0 10px;}

/*奖*/
.award { overflow: hidden; display: inline-block;}
.award li {
	width: 52px;
	height: 20px;
	float: left;
	margin: 0 5px;
	padding: 40px 0 0 8px;
	text-align: left;
}
.award li.award01 { background: url(/assets/new/icon04.png) no-repeat 0 0; color: #ef2f38;}
.award li.award02 { background: url(/assets/new/icon04.png) no-repeat 0 -60px; color: #358ee1;}
.award li.award03 { background: url(/assets/new/icon04.png) no-repeat 0 -120px; color: #36c77b;}
.award li.award04 { background: url(/assets/new/icon04.png) no-repeat 0 -180px; color: #e29d30;}

/*作业列表*/
.assignment {padding-top:30px;}
.assignment_head { background:#48D47E; padding: 30px 0; overflow: hidden; text-align: center;}
.assignment_btn_a { padding: 10px 50px; background:#1a875a; display: inline-block; color: #FFF;}

.preview_icon, .quote_icon, .delete_icon, .delete_icon_ed, .time_icon {
	width: 30px;
	height: 30px;
	display: inline-block;
	text-indent: -999px;
	overflow: hidden;
}
.preview_icon { background: url(/assets/new/icon05.png) no-repeat 0px 0px;}
.quote_icon { background: url(/assets/new/icon05.png) no-repeat 0px -30px;}
.delete_icon { background: url(/assets/new/icon05.png) no-repeat 0px -60px;}
.delete_icon_ed { background: url(/assets/new/icon05.png) no-repeat 0px -90px;}
.time_icon { background: url(/assets/new/icon05.png) no-repeat 0px -120px;}





/*------题型----*/
/*选择题*/
.multipleChoice { padding: 20px;}
.q_title { background: #FFF; padding: 5px 10px; font-size: 16px;}
.q_left { float: left;}
.q_right { overflow: hidden; padding-left: 20px;}
.q_right li { overflow: hidden; margin: 20px 0; background: #FFF; padding: 5px 10px;}
.q_right p { line-height: 22px; margin-left: 30px; overflow: hidden;}

.icheckbox_square-green,
.iradio_square-green { float: left;}




