
<div class="main">
  <div class="controller">
    <div class="controller_head">
      <a href="javascript:void(0)" class="addController_btn_a" onclick="show_new_chool()">新建学校</a>
      <div class="search"><button onclick="search_schools(this)"></button><input name="schools_name" type="text" value="<%= @schools_name if  @schools_name%>"/></div>
    </div>
    <div class="controller_body">
      <%= render :partial => 'school_list'  %>
    </div>
    <%= will_paginate @schools, :previous_label => "上一页", :next_label => "下一页", :class => "pageTurn" %>
  </div>
</div>

<div class="tab system" id="system_new_school">
  <a href="javascript:void(0);" class="close">close</a>
  <div class="tab_head">新建学校</div>
  <div class="tab_warning">请输入学校相关信息</div>
  <div class="tab_body clearAfter">
    <div class="form_list">
      <ul>
        <li><label>学校名称：</label><input name="school_name" type="text"/></li>
        <li><label>学校配额：</label><input name="school_students_count" type="text" onblur="validation_number(this)"/></li>
        <li><label>邮箱邮箱：</label><input name="email" type="text"/></li>
      </ul>
    </div>
  </div>
  <div class="tab_btn"><button onclick="system_new_school(this)">确定</button></div>
</div>

<div class="tab system" id="adjust_quotas">
  <a href="javascript:void(0);" class="close">close</a>
  <div class="tab_head">配额调整</div>
  <div class="tab_warning">新东方配额调整</div>
  <div class="tab_body clearAfter">
    <div class="form_list">
      <ul>
        <li><a href="javascript:void(0);" class="reduce_a tooltip_html" onclick="reduce_a(this)">减少</a>
          <input name="students_count" type="text" onblur="validation_number(this)"/>
          <input name="school_id" type="hidden"/>
          <a href="javascript:void(0);" class="add_a tooltip_html" onclick="add_a(this)" >增加</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="tab_btn"><button onclick="adjust_quotas(this)">确定</button></div>
</div>

<div class="tab system" id="update_school_password">
  <a href="javascript:void(0);" class="close">close</a>
  <div class="tab_head">重设密码</div>
  <div class="tab_warning">为学校重新设置密码</div>
  <div class="tab_body clearAfter">
    <div class="form_list">
      <ul>
        <li><label>新密码：</label><input name="password_new" type="password"/></li>
        <li><label>确认密码：</label><input name="password_again" type="password"/></li>
        <input type="hidden" name="school_id"/>
      </ul>
    </div>
  </div>
  <div class="tab_btn"><button onclick="update_school_password(this)">确定</button></div>
</div>

<div class="tab system" id="shifoutingyong">
  <a href="javascript:void(0);" class="close">close</a>
  <div class="tab_head">停用教师</div>
  <div class="tab_warning">确认停用该教师吗</div>
  <div class="tab_btn"><button>确定</button></div>
</div>