<div class="ab_list_box" style="display: none;">
  <div class="ab_article">
    <% if branch_questions.present? %>
      <% branch_questions.each do |bq| %>
        <div class="questions_item">
          <div class="q_topic">

            <% bq.content.split(";||;").each_with_index do |br_content,index| %>
              <div class="ligatureQuestions">
                <ul>
                  <li><p><%= br_content.split("<=>")[0] %></p></li>
                  <li><i></i></li>
                  <li><p><%= br_content.split("<=>")[1] %></p></li>
                </ul>
              </div>
            <% end if bq.content && bq.content.split(";||;") %>
          </div>
          <% if branch_tags[bq.id].present? %>
            <div class="tag_ul">
              <ul>
                <% branch_tags[bq.id].each do |tag| %>
                  <li><p><%= tag.name %></p></li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <div class="b_table">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tbody>
            <tr style="height:100px;" >
              <td align="center">该大题下暂无小题</td>
            </tr>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
</div>