<div class="ab_list_box" style="display: none;">
  <div class="ab_article">
    <% branch_questions.each do |bq| %>
      <div class="questions_item">
        <div class="q_topic">
          <div class="ligatureQuestions">
            <ul>
              <li><p><%= bq.options.to_s.split(/\;\|\|\;/)[0] %></p></li>
              <li><i></i></li>
              <li><p><%= bq.options.to_s.split(/\;\|\|\;/)[1] %></p></li>
            </ul>
          </div>
        </div>
        <% if branch_tags[bq.id].present? %>
          <div class="tag_ul">
            <ul>
              <% branch_tags[bq.id].each do |tag| %>
                <li><p><%= tag.name %></p></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>