<% from ||="" %>
<div class="ab_list_box" style="display: none;">
  <div class="ab_article">
    <% branch_questions.each do |bq| %>
      <div class="questions_item">
        <div class="q_topic">
          <div class="speedQuestions">
            <ul>
              <li><a href="#" class="<%= bq[:answer] == "true" ? "true" : "false"  %>">T</a></li>
              <li class="qt_text"><p><%= bq.content  %></p><input name="" type="text"/></li>
              <li><a href="#" class="<%= bq[:answer] == "true" ? "false" : "true"  %>">F</a></li>
            </ul>
          </div>
        </div>
        <% unless from == "refer" %>
          <div class="qt_icon"><a href="#" class="tag tooltip_html">标签</a></div>
        <% end %>
        <% if branch_tags[bq.id].present? %>
          <div class="tag_ul">
            <ul>
              <% branch_tags[bq.id].each do |tag| %>
                <li><p><%= tag.name %></p><a href="#" class="x">X</a></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
