<%= form_for :teachers,:url => {:action => :update_avatar,:controller => :teachers},:html=>{:multipart => true,:method => :post,} do |f| %>
  <div class="avater_imgBox"><img src="<%=  @src %>" id="cropbox"/></div>
  <div style="text-align: center">
    <button type="submit" class="confirm_btn" style="display: inline-block; margin: 5px 15px"> 确定 </button>
    <button type="button" class="confirm_btn" onclick="cancel_upload()" style="display: inline-block;margin: 5px 15px"> 取消 </button>
  </div>

  <div style="display: none">
    <input type="text" id="x" name="x" value="111"/>
    <input type="text" id="y" name="y" value="1111"/>
    <input type="text" id="w" name="w" value="111"/>
    <input type="text" id="h" name="h" value="111"/>
  </div>
<% end %>

<script language="Javascript">
  <!--
  jQuery(function($){
    // Create variables (in this scope) to hold the API and image size
    var jcrop_api, boundx, boundy;

    $('#cropbox').Jcrop({
      setSelect: [0,0,176,176],
      boxWidth:298,
      minSize:[176,176],
      borderOpacity:0.3,
      dragEdges:true,
      allowSelect:true,
      allowResize:true,
      bgOpacity:0.6,
      aspectRatio:1,
      allowMove:true,
      addClass: 'jcrop-handle',
      onChange: updateCoords,
      onSelect: updateCoords
    },
    function(){

      jcrop_api = this;
    });
    function updateCoords(c)
    {
      $('#x').val(c.x);
      $('#y').val(c.y);
      $('#w').val(c.w);
      $('#h').val(c.h);
    };
    function checkCoords()
    {
      if (parseInt($('#w').val())) return true;
      alert('请选择裁剪区域');
      return false;
    };
  });
  -->
</script>