<body>
<div class="wrap">
  <div class="area clearAfter">
    <div class="leftSide">
      <div class="logo"></div>
      <div class="nav">
        <ul>
          <li><a href="#"><span class="nav01">首页</span></a></li>
          <li class="firstNav"><a href="javascript:void(0);" class="hover"><span class="nav02">作业</span></a>
            <div class="menu" style="display: block;">
              <a href="#">完成情况</a>
              <a href="#" class="hover">留作业</a>
            </div>
          </li>
          <li><a href="#"><span class="nav03">信息</span></a></li>
          <li><a href="#"><span class="nav04">设置</span></a></li>
          <li class="out"><a href="#"><span class="nav05">退出</span></a></li>
        </ul>
      </div>
    </div>
    <div class="rightSide">
      <div class="main">
        <div class="article">
          <div class="assignWork"><a href="#" class="tooltip">留作业</a></div>
          <div class="assignWork_table">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <thead>
              <tr>
                <th>作业包创建时间</th>
                <th>备注</th>
                <th>预览</th>
                <th>编辑</th>
                <th>删除</th>
                <th>截止时间</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>2013-1-4  17：00</td>
                <td><p class="tooltip">这次听写着这次听写着重强调这次听写着重强调了对于单词显然的听写了对于单词显然的听写重强调这次听写着重强调了对于单词显然的听写了对于单词显然的听写</p></td>
                <td><a href="#" class="td_view">预览</a></td>
                <td><a href="#" class="td_write">编辑</a></td>
                <td><a href="#" class="td_trash">删除</a></td>
                <td><a href="#" class="td_timer">时间</a></td>
              </tr>
              <tr>
                <td>2013-1-4  17：00</td>
                <td><p class="tooltip">这次听写着重强调听写重强调这次听写着重强调了对于单词显然的听写了对于单词显然的听写</p></td>
                <td><a href="#" class="td_view">预览</a></td>
                <td><a href="#" class="td_write">编辑</a></td>
                <td><a href="#" class="td_trash">删除</a></td>
                <td>2014-1-10  20：30</td>
              </tr>
              <tr>
                <td>2013-1-4  17：00</td>
                <td><p class="tooltip">这次听写着重强调听写重强调这次听写着重强调了对于单词显然的听写了对于单词显然的听写</p></td>
                <td><a href="#" class="td_view">预览</a></td>
                <td><a href="#" class="td_write">编辑</a></td>
                <td><a href="#" class="td_trash">删除</a></td>
                <td>2014-1-10  20：30</td>
              </tr>
              <tr>
                <td>2013-1-4  17：00</td>
                <td><p class="tooltip">这次听写着重强调听写重强调这次听写着重强调了对于单词显然的听写了对于单词显然的听写</p></td>
                <td><a href="#" class="td_view">预览</a></td>
                <td><a href="#" class="td_write">编辑</a></td>
                <td><a href="#" class="td_trash">删除</a></td>
                <td>2014-1-10  20：30</td>
              </tr>
              <tr>
                <td>2013-1-4  17：00</td>
                <td><p class="tooltip">这次听写着重强调听写重强调这次听写着重强调了对于单词显然的听写了对于单词显然的听写</p></td>
                <td><a href="#" class="td_view">预览</a></td>
                <td><a href="#" class="td_write">编辑</a></td>
                <td><a href="#" class="td_trash">删除</a></td>
                <td>2014-1-10  20：30</td>
              </tr>
              <tr>
                <td>2013-1-4  17：00</td>
                <td><p class="tooltip">这次听写着重强调听写重强调这次听写着重强调了对于单词显然的听写了对于单词显然的听写</p></td>
                <td><a href="#" class="td_view">预览</a></td>
                <td><a href="#" class="td_write">编辑</a></td>
                <td><a href="#" class="td_trash">删除</a></td>
                <td>2014-1-10  20：30</td>
              </tr>
              </tbody>
            </table>
            <div class="pageTurn">
              <a href="#" class="disabled">上一页</a>
              <a href="#" class="current">1</a>
              <a href="#?page=2">2</a>
              <a href="#?page=3">3</a>
              <a href="#?page=4">4</a>
              <a href="#?page=5">5</a>...<a href="#?page=199">199</a>
              <a href="#?page=200">200</a>
              <a href="#?page=2">下一页</a>
            </div>

          </div>
        </div>

      </div>

    </div>

  </div>
</div>
<div class="tab">
  <span class="close">关闭</span>
  <div class="tab_con">
    <h1>请设置时间</h1>
    <div class="tab_ul">
      <ul>
        <li><input name="" type="text" class="tab_time_input"></li>
      </ul>
    </div>
  </div>
  <div class="tab_btn"><button class="green_btn">确认</button></div>
</div>