<div class="rightSide">
  <div class="main">
    <div class="article">
      <div class="assignWork"><a href="/school_classes/<%= params[:school_class_id] %>/question_packages/new" class="tooltip">留作业</a></div>
      <div id="assignWork_table" class="assignWork_table">
        <%= render :partial => "publish_tasks_list" %>
      </div>
    </div>
  </div>
</div>

<div id="publish_task_panel" style="display: none;"  class="tab">
  <%= form_tag("/school_classes/#{@school_class.id}/homeworks/publish_question_package", :method =>"post", :remote => true) do %>
  <span class="close">关闭</span>
  <div class="tab_con">
    <h1>请设置时间</h1>
    <div class="tab_ul">
      <ul>
        <li><input id="end_time" name="end_time"  readonly="readonly"  type="text" class="tab_time_input" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',autoPickDate:true})"></li>
        <li><input id="question_package_id_value" name="question_package_id" type="text" style="display: none;" class="tab_time_input"></li>
        <li><input name="school_class_id" type="text" value="<%= @school_class.id %>" style="display: none;" class="tab_time_input"></li>
      </ul>
    </div>
  </div>
  <div class="tab_btn"><button class="green_btn" type="button" onclick="check_time()" >确认</button></div>
  <button id="submit_publish_task" style="display: none;" class="green_btn" type="submit">提交</button>
  <% end %>
</div>
