<script language="javascript">
  $(function(){
    $('.select_box').jqTransform();
  });
</script>

<ul>
  <li><label>被转班级：</label>
    <div class="select_box">
      <div class="rowElem selectPosition">
        <select name="select_school_class_id" >
          <option value="">选择题库</option>
          <% @school_class.each do |school_class| %>
            <option value="<%= school_class.id %>"><%= school_class.name %></option>
          <% end if @school_class %>
        </select>
      </div>
    </div>
  </li>
  <li><label>接受教师：</label>
    <div class="select_box">
      <div class="rowElem">
        <select name="select_teacher_id" >
          <option value="">选择教师</option>
          <% @teachers.each do |teacher| %>
            <option value="<%= teacher.id %>"><%= teacher.name %></option>
          <% end if @teachers %>
        </select>
      </div>
    </div>
  </li>
</ul>