<div class="main">
  <script language="javascript">
    $(function(){
      $('.select_box').jqTransform();
    });
  </script>
  <div class="controller">
    <div class="controller_head">
      <a href="javascript:void(0)" class="addController_btn_a" onclick="$('#teacher_admin_create').show();">新建教师</a>
      <div class="search"><button onclick="sercher_teacher(this)"></button><input name="teacher_name" type="text" value="<%= @teacher_name if  @teacher_name%>"/></div>
    </div>
    <div class="controller_body">
      <%= render :partial => 'teacher_list' %>
    </div>
  </div>
</div>

<div class="tab system" id="teacher_admin_create">
  <a href="javascript:void(0);" class="close">close</a>
  <div class="tab_head">新建管理员</div>
  <div class="tab_warning">请输入教师相关信息</div>
  <div class="tab_body clearAfter">
    <div class="form_list">
      <ul>
        <li><label>教师名称：</label><input name="teacher_name" type="text"/></li>
        <li><label>教师邮箱：</label><input name="teacher_email" type="text"/></li>
      </ul>
    </div>
  </div>
  <div class="tab_btn"><button onclick="admin_create_teacher(this)">确定</button></div>
</div>

<div class="tab system">
  <a href="javascript:void(0);" class="close">close</a>
  <div class="tab_head">创建成功</div>
  <div class="tab_warning">老师账户信息已经发送到邮箱</div>

  <div class="tab_btn"><button type="submit">确定</button></div>
</div>

<div class="tab system" id="reset_teacher_password">
  <a href="javascript:void(0);" class="close">close</a>
  <div class="tab_head">重设密码</div>
  <div class="tab_warning">重新为教师登录设置密码</div>
  <div class="tab_body clearAfter">
    <div class="form_list">
      <ul>
        <li><label>新密码：</label><input name="password_new" type="text"/></li>
        <li><label>确认密码：</label><input name="password_again" type="text"/></li>
        <input type="hidden" name="teacher_id"/>
      </ul>
    </div>
  </div>
  <div class="tab_btn"><button type="submit" onclick="update_teacher_password(this)">确定</button></div>
</div>

<div class="tab system" id="class_transfer">
  <a href="javascript:void(0);" class="close">close</a>
  <div class="tab_head">班级过户</div>
  <div class="tab_warning">选择需要调整的班级和老师</div>
  <div class="tab_body clearAfter">
    <div class="form_list">
      <ul>
        <li><label>被转班级：</label>
          <div class="select_box">
            <div class="rowElem selectPosition">
              <select name="select1" >
                <option value="opt1">选择题库</option>
                <option value="opt2">Option 2</option>
                <option value="opt3">Option 3</option>
                <option value="opt3">Option 3</option>
                <option value="opt3">Option 3</option>
                <option value="opt3">Option 3</option>
              </select>
            </div>
          </div>
        </li>
        <li><label>接受教师：</label>
          <div class="select_box">
            <div class="rowElem">
              <select name="select2" >
                <option value="opt1">选择题库</option>
                <option value="opt2">Option 2</option>
                <option value="opt3">Option 3</option>
                <option value="opt3">Option 3</option>
                <option value="opt3">Option 3</option>
                <option value="opt3">Option 3</option>
              </select>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="tab_btn"><button type="submit">确定</button></div>
</div>

<div class="tab system">
  <a href="javascript:void(0);" class="close">close</a>
  <div class="tab_head">停用教师</div>
  <div class="tab_warning">确认停用该教师吗</div>

  <div class="tab_btn"><button type="submit">确定</button></div>
</div>
