<input type="hidden" value="<%=@micropost.id %>" />
<input type="hidden" value="<%=@micropost.user_id %>" />
<input type="hidden" value="<%=@micropost.user_types %>" />
<input type="hidden" value="<%=current_teacher.user_id %>" />
<div class="textarea_box"><textarea cols="" rows=""></textarea></div>
<div class="tab_mess_btn"><button onclick="main_reply(this)">提交</button></div>
