<a href="javascript:void(0);" class="close">close</a>
<div class="tab_head">设置时间</div>
<div class="tab_warning">为此题设置需要单独完成的参考时间</div>
<div class="tab_body clearAfter">
  <div class="setTime_tab">
    <ul>
      <li><input id="new_time_limit_hour" type="text" value="时"/></li>
      <li><input id="new_time_limit_minute" type="text" value="分"/></li>
      <li><input id="new_time_limit_second" type="text" value="秒"/></li>
    </ul>
  </div>
</div>
<div class="tab_btn">
  <button type="button" onclick="new_time_limit_set_time_valid(this)">确定</button>
</div>