<div class="ab_list_title">
  <h1>未命名</h1>
  <p>十速挑战 / 李芳 / 2014-02-12 / 参考时间：15秒</p>
  <ul class="ab_func">
    <li><a href="#" class="clock_icon tooltip_html">设定时间</a></li>
    <li><a href="#" class="save_icon tooltip_html">保存</a></li>
    <li><a href="#" class="share_icon tooltip_html">分享</a></li>
    <li><a href="#" class="delete_icon tooltip_html">删除</a></li>
  </ul>
</div>
<div class="ab_list_box" style="display: none;">
  <div class="ab_article">
    <% 10.times do |t| %>
      <div class="questions_item">
        <div class="q_topic">
          <div class="speedQuestions">
            <ul>
              <li><a href="javascript:void(0)" onclick="change_true_or_false(this)">T</a></li>
              <li class="qt_input">
                <input name="" type="text"/></li>
              <li><a href="javascript:void(0)" onclick="change_true_or_false(this)">F</a></li>
            </ul>
          </div>
        </div>
        <div class="qt_icon"><a href="#" class="tag tooltip_html">标签</a></div>
        <div class="tag_ul">
          <ul>
            <li><p>A</p><a href="javascript:void(0)" class="x">x</a></li>
            <li><p>B</p><a href="javascript:void(0)" class="x">x</a></li>
            <li><p>C</p><a href="javascript:void(0)" class="x">x</a></li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="tag_tab">
  <span class="arrows">A</span>
  <div class="search"><input name="" type="text"/></div>
  <ul>
    <% @b_tags.each do |bt| %>
      <li><input type="checkbox" value="<%= bt.id %>"/><p><%= bt.name %></p></li>
    <% end %>
  </ul>
  <a href="#">新建“一般”</a>
</div>