<a href="javascript:void(0);" class="close">close</a>
  <div class="tab_head">十速挑战命名</div>
  <div class="tab_warning">请输入时速挑战的名称</div>
  <div class="tab_body clearAfter">
    <div class="setShare_tab">
      <ul>
        <li><input id="new_time_limit_name" type="text" value="名称"/></li>
      </ul>
    </div>
  </div>
  <div class="tab_btn"><button type="button" onclick="new_time_limit_set_name_valid()">确定</button></div>