<select name="select2" onchange="no_change(this)">
  <option value="0">请选择课程</option>
  <%@episodes.each do |episode|%>
    <option value="<%=episode.id%>"><%=episode.name%></option>
  <%end%>
</select>
<script>
  $(function(){
    $($('.rowElem')[1]).removeClass("jqtransformdone");
    $($('.rowElem')[1]).jqTransform();
  });
</script>
<script>
  $($('.rowElem')[1].children[0]).css("width","320px");
</script>

