<div class="batchUpload_item">
	<div class="batchUpload_item_con">
        <div class="batchUpload_item_list">
            <p>1.sssssssssssssssssssssssssssssssss</p>
            <div class="bu_icon"><a href="#" class="voice tooltip_html">点击上传音频</a>
                <a href="#" class="tag tooltip_html">添加标签</a>
                <a href="#" class="delete tooltip_html">删除</a>
            </div>
        </div>
        <div class="tag_ul">
            <ul>
                <li><p>不定冠词</p><a href="#" class="x">X</a></li>
                <li><p>不定冠词</p><a href="#" class="x">X</a></li>
                <li><p>不定冠词</p><a href="#" class="x">X</a></li>
            </ul>
        </div>
    </div>

    <div class="batchUpload_item_con">
        <div class="batchUpload_item_list">
            <p>1.sssssssssssssssssssssssssssssssss</p>
            <div class="bu_icon"><a href="#" class="voice tooltip_html">点击上传音频</a>
                <a href="#" class="tag tooltip_html">添加标签</a>
                <a href="#" class="delete tooltip_html">删除</a>
            </div>
        </div>
        <div class="tag_ul">
            <ul>
                <li><p>不定冠词</p><a href="#" class="x">X</a></li>
                <li><p>不定冠词</p><a href="#" class="x">X</a></li>
                <li><p>不定冠词</p><a href="#" class="x">X</a></li>
            </ul>
        </div>
    </div>
</div> 
        
<div class="qt_icon">
  <a href="#" class="delete tooltip_html">删除</a>
</div>