<a href="javascript:void(0)" class="voice_icon" onclick="playAudio(this)">
  <audio controls="controls" class="bq_audio">
    <source src="<%= resource_url %>" type="audio/mpeg" />
    Your browser does not support the audio element.
  </audio>
</a>