<a href="javascript:void(0)" class="voice tooltip_title" onclick="playAudio(this)">
  <audio controls="controls" class="bq_audio" style="display:none;">
    <source src="<%= resource_url %>" type="audio/mpeg" />
    Your browser does not support the audio element.
  </audio>
</a>