<div class="rightSide">
  <div class="main">
    <div class="article">
      <div class="book_box clearAfter">
        <div class="book_box_page">
          <ul>
            <li class="question_li hover" onclick="liHover(this)"><a href="#">1.</a></li>
            <li><a href="javascript:void(0)" class="addPage">+</a></li>
          </ul>
        </div>
        <div class="steps">
          <%= render "three_step" %>
        </div>
      </div>
      <%= form_for @question_pack do |f| %>
        <div class="remark">
          <h1>填写作业备注</h1>
          <div class="remark_con"><%= f.text_area :name, :rows => 5 %></div>
          <div class="remark_btn"><button class="green_btn">保存作业</button></div>
        </div>
      <% end %>
    </div>

  </div>

</div>
<script>
  /* function closeIt()
  {
    return "当前作业还未保存，确定离开页面？";
  }
  window.onbeforeunload = closeIt;*/
</script>