<div class="main">
  <div class="assignment">
    <div class="assignment_head">
      <div class="select_box">
        <div class="rowElem">
          <select name="select1" id="select1" disabled="true" >
            <option value="opt1"><%=  @cell.name %></option>
          </select>

        </div>
        <div class="rowElem">
          <select name="select2" id="select2" disabled="true">
            <option value="opt1"><%= @episode.name %></option>
          </select>
        </div>
      </div>
    </div>
    <%= render :partial => "question_packages/show_question" %>
  </div>
</div>
