$(".article").hide();
$(".main").prepend('<div id="view_share_question" style="display: none;"  class="article"></div>');
$("#view_share_question").html("<%= j(render :partial => "share_questions/view") %>");
$("#view_share_question").find("[class='book_box_con']").css("margin-left","10px");
$("#view_share_question").show();