<div class="userInfo">
  <ul>
    <li class="userName"><a href="#">管理员</a></li>
    <li class="email"><a href="#">1</a></li>
  </ul>
</div>
<div class="logo">超级作业本</div>

<div class="nav">
  <ul>
    <li><a href="/admin/schools" class="hover">学校管理</a></li>
    <li><a href="#">题库管理员</a></li>
    <li><a href="#">科目</a></li>
  </ul>
</div>

