<div class="userInfo">
  <ul>
    <li class="userName"><a href="#">管理员</a></li>
    <li class="email"><a href="#">1</a></li>
  </ul>
</div>
<div class="logo">超级作业本</div>

<div class="nav">
  <ul>
    <li><a href="javascript:void(0)" class="hover">教师管理</a></li>
    <li><a href="javascript:void(0)">学生管理</a></li>
    <li><a href="/school_manage/quota_consumptions">配额消费</a></li>
  </ul>
</div>
