<!DOCTYPE html>
<html>
<head>
  <title>HomeworkManage</title>
  <%= stylesheet_link_tag    "style.css", :media => "all" %>
  <%= javascript_include_tag "application", "main","My97DatePicker/WdatePicker"%>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
