<!DOCTYPE html>
<html>
  <head>
    <title>超级作业本-登录</title>
    <%= stylesheet_link_tag    "style.css",'login.css', :media => "all" %>
    <%= javascript_include_tag "application","main","main_pages"%>
    <script type="text/javascript" src="/assets/My97DatePicker/WdatePicker.js" ></script>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>

    <div class="tab_Prompt" id="tab_Prompt">
      <a href="javascript:void(0)" class="x"></a>
      <p></p>
    </div>
    
  </body>
</html>
